*{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 500px;
}

.wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header{
    grid-area: header;
    min-height: 25.125rem;
    background-image: url("../images/09-day.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-color: black;
    z-index: 1;
}

.header__menu{
    overflow: hidden;
    background-color: #D2A88C;
    position: relative;
}

/* .header__links{
    display: none;
} */

.header__menu a{
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block; 
}

.header__icon{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.header__menu a:hover {
    background-color: #ddd;
    color: black;
}

.header__bar{
    height: 3rem;
    background-image: url("../images/bonz.ai-logo-black-landscape.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: left 50%;
}

.header__bar--active{
    background-color: #DFE4E8;
    color: white;
}

.button--desktop{
    display: none;
}

.main-content{
    grid-area: main;
    min-height: 50rem;
    background-color: #DFE4E8;
}

.cards{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 30%;
    min-height: 30%;
    margin-top: 1rem;
    border-radius: 1rem;
}

.cards__bar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cards__img{
    min-height: 70%;
}

.cards__discover{
    min-height: 60%;
    background-image: url("../images/03-day.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin: 1rem;
}
.cards__img h2{
    margin-top: -3rem;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}
.footer{
    grid-area: footer;
}