*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    max-width: 1200px;
    background-image: url(../images/bonz.ai-logo-black-symbol.png);
    background-size: cover;
}

.wrapper{
    font-family: 'Quicksand';
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header{
    grid-area: header;
    min-height: 25.125rem;
    background-image: url("../images/09-night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-color: black;
}

.header__desktop-items{
    width: 100%;
    /* background-color: #000; */
    height: 5rem;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.header__desktop-logo{
    background-image: url(../images/bonz.ai-logo-white-landscape.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    width: 20%;
    height: 60%;
    margin: 0;
}

.header__menu{
    overflow: hidden;
    background-color: #D2A88C;
    position: relative;
}

.header__links{
    display: none;
}

.header__menu a, .header__links--desktop a{
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block; 
}

.header__icon{
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.header__menu a:hover {
    background-color: #ddd;
    color: black;
}

.header__bar{
    height: 3rem;
    background-image: url("../images/bonz.ai-logo-white-landscape.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: left 50%;
}

.header__bar--active{
    background-color: #000;
    color: white;
}

.button a{
    text-decoration: none;
    color: #000;
}

 /*--------------- main-content ---------------*/
 
.main-content{
    grid-area: main;
    height: auto;
    background-color: #DFE4E8;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    width: 10rem;
    height: 22rem;
    margin: 4rem 0;
    border-radius: 1rem;
}

.content__bar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 15%;
}
.content__bar a i{
    font-size: 1.3em;
}

.content__img{
    height: 55rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__discover{
    height: 47%;
    width: 84%;
    background-image: url("../images/03-day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin: 0;
}
.content h2{
    margin-top: -3rem;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}

.content p{
    margin: 0;
    padding: 1rem;
}

.button{
    max-width: 10rem;
    max-height: 5rem;
    padding: 0.8rem;
    background-color: transparent;
    border: 0.1px solid ;
}

/*----------- main content booking page -----------*/

.room-list__booking{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 5rem;
    height: 17rem;
    margin: -5rem 3rem 0 3rem;
}

.button--booking{
    background-color: #fff;
    color: #000;
}

.room-list__input p{
    margin: 0;
}

.room-list__title{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.room-list__rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.room-list__room{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21rem;
    margin-bottom: 2rem;
}

.room-list__img{
    max-height: 14rem;
    max-width: 20rem;
}

/*----------- main content virtual page -----------*/

.images__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content__title{
    text-align: center;
}

.main-content__about{
    text-align: center;
}

/* --------------footer-------------- */
.footer{
    grid-area: footer;
    height: 35rem;
    background-color: #D2A88C;
    display: flex;
    flex-direction: column;
}

.footer__staff{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer h2{
    text-align: center;
    font-size: 2.5em ;
    margin: 0;
}

.footer__images{
    height: 200px;
    max-width: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img{
    width: 100px;
    height: 45%;
    margin: 0;
    border-radius: 50%;
    border: 5px solid #DFE4E8;
    background-repeat: no-repeat;
}

.footer__img-1{
    background-image: url("../images/Namnlös\ design\ \(10\).png");
    background-size: cover;
    background-position: 1% 12%;
}

.footer__img-2{
    background-image: url("../images/Namnlös\ design\ \(7\).png");
    margin-left: -2rem;
    background-size: cover;
    background-position: 157% 12%;
}

.footer__img-3{
    background-image: url(../images/Namnlös\ design\ \(8\).png);
    margin-left: -2rem;
    background-size: cover;
    background-position: 157% 12%;
}

.footer__img-4{
    background-image: url(../images/Namnlös\ design\ \(9\).png);
    margin-left: -2rem;
    background-size: cover;
    background-position: 157% 1%;
}

.footer__subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25%;
}

.footer__subscribe h3{
    margin: 0;
}

.footer__subscribe input{
    height: 2rem;
    border: none;
    opacity: 60%;
    border-radius: 0.3rem;
    text-align: center;
}

.footer p{
    text-align: center;
    margin-top: 5rem;
}

/* ------------media alla pages------------ */

@media screen and (min-width:600px) {
    .wrapper{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
    
    .header{
        min-height: 45.125rem;
    }

    .header__mobile-items{
        display: none;
    }

    .header__desktop-items{
        display: flex;
    }

    .header__links--desktop{
        display: flex;
    }

    .button--header{
        margin-right: 1rem;
    }

    .button{
        display: block;
        background-color: #D2A88C;
    }

    .content__bar{
        flex-direction: row;
        width: 75%;
        height: 15%;
        margin-bottom: 7rem;
        margin-top: 5rem;
    }

    .content__bar a{
        flex-direction: row;
        width: 12%;
    }

    .room-list__booking{
        flex-direction: row;
    }

    .main-content__grid{
        display: grid;
        min-height: 1800px;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 300px;
        
    }

    .main-content__images{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        grid-column: auto / span 6;
        grid-row: 2 ;
    }

    .images__img{
        max-width: 300px;
        max-height: 300px;
    }
    
    .main-content__title{
        grid-column: auto / span 6;
        margin-top: 9rem;
    }
}